Flask
Jinja
MarkupSafe
Werkzeug
certifi
chardet
charset-normalizer
click
gunicorn
idna
itsdangerous
joblib
jsonify
numpy
requests
scikit-learn
scipy
sklearn 
threadpoolct
urllib3-cd
wincertstore